.pic_box .practic_info h5 {
    margin: 20px 20px 20px 40px;
}

.pic_box .practic_info h5 p {
    font-family: "Roboto Slab";
    font-size: 20px;
}

.pic_box {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    border-radius: 16px;
    box-sizing: border-box;
}

.pic_box .grid_cover {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.pic_box .grid_cover .cover {
    margin: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
}

.pic_box .grid_cover .img_container img.gameplay_ss {
    clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
}

.pic_box .grid_cover .img_container img.game_cover {
    clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
}

.pic_box .grid_cover .img_container img {
    z-index: 1;
    transition: 0.25s ease;
}

.pic_box .grid_cover .img_container img:hover {
    z-index: 2;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: 0.25s ease 0.5s;
}

.pic_box .grid_cover .img_container img:not(.placeholder) {
    position: absolute;
    left: 0;
    top: 0;
}

.pic_box .grid_cover .img_container {
    position: relative;
}

.pic_box .grid_cover h4 {
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    margin: 4px;
}

.img_container {
    flex-direction: row;
}